.paymentmethod{
    table{
        width: 100%;
        tbody{
            tr{
                //height: 50px;
               
                td{
                    padding-bottom: 20px;
                    &:first-child{
                        width: 40%;
                    }
                }
                
            }
        }
    }
    .save{
        float: right;
    }
}